[Unit]
Description=Netfilter tables
Wants=msm8916-usb-gadget.service
After=msm8916-usb-gadget.service network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nft -f /etc/nftables.conf
ExecStop=/usr/sbin/nft flush ruleset

[Install]
WantedBy=multi-user.target
